@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;600&display=swap');

:root {
  --txt-color: #1A2653;
  --div-bg-color:#F1E2F5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


html {
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top right , #F3F7FF, #FEE2F6);

}
